@model IEnumerable<Desafio.Mundipagg.UI.Web.Models.Midia>

@{
    ViewData["Title"] = "Index";
}

<h1>Midia</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diretor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @((item.Status == "1") ? "Disponível" : "Emprestado")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diretor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoLancamento)
            </td>
            <td>
                @((item.Tipo == "1") ? "CD" : "DVD")
            </td>
            <td>                
                @Html.ActionLink("Details", "Details", new {  id = item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id = item.Id  }, new { onclick = "javascript:return confirm('Realmente deseja excluir?');" })
            </td>
        </tr>
}
    </tbody>
</table>
